
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: main----production
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: main----production
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: eatnug--add-anchor-market-time
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: eatnug--add-anchor-market-time
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/eatnug/add-anchor-market-time/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--gemini-2-5
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--gemini-2-5
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/gemini-2-5/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ken--fix-sigterm-db-write
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ken--fix-sigterm-db-write
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ken/fix-sigterm-db-write/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: eatnug--revive-gmail-block
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: eatnug--revive-gmail-block
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/eatnug/revive-gmail-block/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--vision-pipeline
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--vision-pipeline
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/vision-pipeline/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: eatnug--add-manual-teps
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: eatnug--add-manual-teps
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/eatnug/add-manual-teps/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: eatnug--embed-milestone
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: eatnug--embed-milestone
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/eatnug/embed-milestone/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--mock-research-db
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--mock-research-db
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/mock-research-db/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--ttx-news-link
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--ttx-news-link
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/ttx-news-link/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--grafana
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--grafana
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/grafana/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--limit-login
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--limit-login
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/limit-login/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--sec-optimization
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--sec-optimization
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/sec-optimization/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--profile-loading
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--profile-loading
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/profile-loading/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: banggre--update-get-pdf
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: banggre--update-get-pdf
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/banggre/update-get-pdf/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: me1e--pipeline-run-migration-script
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: me1e--pipeline-run-migration-script
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/me1e/pipeline-run-migration-script/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: banggre--add-appleplay-domain
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: banggre--add-appleplay-domain
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/banggre/add-appleplay-domain/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cheol--cluster-autoscaler
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: cheol--cluster-autoscaler
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/cheol/cluster-autoscaler/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--temporal-workflow-eslint-import
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--temporal-workflow-eslint-import
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/temporal-workflow-eslint-import/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ken--excel-to-storage
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ken--excel-to-storage
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ken/excel-to-storage/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--prisma-update
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--prisma-update
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/prisma-update/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--prisma-bt
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--prisma-bt
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/prisma-bt/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sam--firstday
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sam--firstday
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sam/firstday/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--trading-view-api-test
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--trading-view-api-test
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/trading-view-api-test/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--server-port-cleanup-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--server-port-cleanup-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/server-port-cleanup-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

