
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: main----production
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: main----production
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--price-logs
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--price-logs
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/price-logs/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ajinkyatalekar--stripe-new-plan
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ajinkyatalekar--stripe-new-plan
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ajinkyatalekar/stripe-new-plan/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: daniel--answer-workflow
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: daniel--answer-workflow
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/daniel/answer-workflow/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--custom-report-homepage
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--custom-report-homepage
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/custom-report-homepage/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--fix-price-api-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--fix-price-api-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/fix-price-api-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--tester-link
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--tester-link
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/tester-link/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vishesh--deploy-save
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: vishesh--deploy-save
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/vishesh/deploy-save/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: daniel--profileddlthu
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: daniel--profileddlthu
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/daniel/profileddlthu/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--watchlist-agent
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--watchlist-agent
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/watchlist-agent/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ken--optimize-deepresearch-state
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ken--optimize-deepresearch-state
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ken/optimize-deepresearch-state/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: daniel--portfolio5
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: daniel--portfolio5
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/daniel/portfolio5/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: daniel--tickercomp22
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: daniel--tickercomp22
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/daniel/tickercomp22/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--comment
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--comment
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/comment/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--fix
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--fix
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/fix/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vishesh--add-internal-reasoning
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: vishesh--add-internal-reasoning
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/vishesh/add-internal-reasoning/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: akikaziz--source-text-highlight
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: akikaziz--source-text-highlight
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/akikaziz/source-text-highlight/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vishesh--update-ai-relevance
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: vishesh--update-ai-relevance
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/vishesh/update-ai-relevance/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--chatbot-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--chatbot-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/chatbot-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--new-deep-research-1213
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--new-deep-research-1213
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/new-deep-research-1213/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--sq-search
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--sq-search
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/sq-search/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kkimdev--nh-multiquery-suggest
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: kkimdev--nh-multiquery-suggest
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/kkimdev/nh-multiquery-suggest/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--new-deep-research-1213
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--new-deep-research-1213
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/new-deep-research-1213/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--update-filtered-items-msg
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--update-filtered-items-msg
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/update-filtered-items-msg/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--integrate-tool-call-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--integrate-tool-call-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/integrate-tool-call-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--sec-chunk
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--sec-chunk
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/sec-chunk/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--portfolio-snapshot-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--portfolio-snapshot-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/portfolio-snapshot-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sachin--build-optimize-icons
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: sachin--build-optimize-icons
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/sachin/build-optimize-icons/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--build-optimize-2
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--build-optimize-2
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/build-optimize-2/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ahmet--portfolio-snapshot
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ahmet--portfolio-snapshot
    server: https://kubernetes.default.svc
  project: default
  source:
    path: auto_branch_pushes/ahmet/portfolio-snapshot/ppluto-main/overlays/dev_eks
    repoURL: https://github.com/ppluto-dev/argocd-deployments.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true

