spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: banggre--ticker-stream
    path: auto_branch_pushes/banggre/ticker-stream/ppluto-main/overlays/dev/
    namespace: banggre--ticker-stream
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main---tickerbell
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_monigpt/
    namespace: main---tickerbell
