spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--prompt-node-maxtoken-dynamic
    path: auto_branch_pushes/yansfil/prompt-node-maxtoken-dynamic/ppluto-main/overlays/dev/
    namespace: yansfil--prompt-node-maxtoken-dynamic
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
