spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--update-prompt-group
    path: auto_branch_pushes/yansfil/update-prompt-group/ppluto-main/overlays/dev/
    namespace: yansfil--update-prompt-group
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
