spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--fix-pipeline-saver
    path: auto_branch_pushes/yansfil/fix-pipeline-saver/ppluto-main/overlays/dev/
    namespace: yansfil--fix-pipeline-saver
  - name: yansfil--update-pipeline-batch-run
    path: auto_branch_pushes/yansfil/update-pipeline-batch-run/ppluto-main/overlays/dev/
    namespace: yansfil--update-pipeline-batch-run
  - name: renovate--swc-monorepo
    path: auto_branch_pushes/renovate/swc-monorepo/ppluto-main/overlays/dev/
    namespace: renovate--swc-monorepo
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
