spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: banggre--send-slack-summary-message
    path: auto_branch_pushes/banggre/send-slack-summary-message/ppluto-main/overlays/dev/
    namespace: banggre--send-slack-summary-message
  - name: kkimdev--gaia-code-font-size
    path: auto_branch_pushes/kkimdev/gaia-code-font-size/ppluto-main/overlays/dev/
    namespace: kkimdev--gaia-code-font-size
  - name: luan--update-scripts
    path: auto_branch_pushes/luan/update-scripts/ppluto-main/overlays/dev/
    namespace: luan--update-scripts
  - name: luan--remove-replace
    path: auto_branch_pushes/luan/remove-replace/ppluto-main/overlays/dev/
    namespace: luan--remove-replace
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main---tickerbell
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_monigpt/
    namespace: main---tickerbell
