spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--update-mainstreetview
    path: auto_branch_pushes/yansfil/update-mainstreetview/ppluto-main/overlays/dev/
    namespace: yansfil--update-mainstreetview
  - name: sungbin--hotfix-createarticle-byid
    path: auto_branch_pushes/sungbin/hotfix-createarticle-byid/ppluto-main/overlays/dev/
    namespace: sungbin--hotfix-createarticle-byid
  - name: renovate--npm-vite-vulnerability
    path: auto_branch_pushes/renovate/npm-vite-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-vite-vulnerability
  - name: renovate--npm-zod-vulnerability
    path: auto_branch_pushes/renovate/npm-zod-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-zod-vulnerability
  - name: renovate--npm-nodemailer-vulnerability
    path: auto_branch_pushes/renovate/npm-nodemailer-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-nodemailer-vulnerability
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
