spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--fix-deployment-run-slow
    path: auto_branch_pushes/yansfil/fix-deployment-run-slow/ppluto-main/overlays/dev/
    namespace: yansfil--fix-deployment-run-slow
  - name: kkimdev--disable-renovate-automerge
    path: auto_branch_pushes/kkimdev/disable-renovate-automerge/ppluto-main/overlays/dev/
    namespace: kkimdev--disable-renovate-automerge
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
