spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: sungbin--latest-news
    path: auto_branch_pushes/sungbin/latest-news/ppluto-main/overlays/dev/
    namespace: sungbin--latest-news
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
