spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: mk--fix-duplicate-report
    path: auto_branch_pushes/mk/fix-duplicate-report/ppluto-main/overlays/dev/
    namespace: mk--fix-duplicate-report
  - name: kkimdev--prerender-on
    path: auto_branch_pushes/kkimdev/prerender-on/ppluto-main/overlays/dev/
    namespace: kkimdev--prerender-on
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
