spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: me1e--add-research-brokers
    path: auto_branch_pushes/me1e/add-research-brokers/ppluto-main/overlays/dev_gcp/
    namespace: me1e--add-research-brokers
  - name: kkimdev--terminalx-prototype
    path: auto_branch_pushes/kkimdev/terminalx-prototype/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--terminalx-prototype
  - name: yansfil--stable-vars-test
    path: auto_branch_pushes/yansfil/stable-vars-test/ppluto-main/overlays/dev_gcp/
    namespace: yansfil--stable-vars-test
  - name: banggre--apply-x-payment
    path: auto_branch_pushes/banggre/apply-x-payment/ppluto-main/overlays/dev_gcp/
    namespace: banggre--apply-x-payment
  - name: kkimdev--px-ui-metadata-fix
    path: auto_branch_pushes/kkimdev/px-ui-metadata-fix/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--px-ui-metadata-fix
  - name: me1e--apply-optimized-image
    path: auto_branch_pushes/me1e/apply-optimized-image/ppluto-main/overlays/dev_gcp/
    namespace: me1e--apply-optimized-image
  - name: banggre--ss-add-stripe
    path: auto_branch_pushes/banggre/ss-add-stripe/ppluto-main/overlays/dev_gcp/
    namespace: banggre--ss-add-stripe
  - name: kkimdev--deepkit-rpc-get-ip
    path: auto_branch_pushes/kkimdev/deepkit-rpc-get-ip/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--deepkit-rpc-get-ip
  - name: kkimdev--deepkit-rpc-example-simple
    path: auto_branch_pushes/kkimdev/deepkit-rpc-example-simple/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--deepkit-rpc-example-simple
  - name: sungbin--sec-ticker
    path: auto_branch_pushes/sungbin/sec-ticker/ppluto-main/overlays/dev_gcp/
    namespace: sungbin--sec-ticker
  - name: kkimdev--pinecone-text-test
    path: auto_branch_pushes/kkimdev/pinecone-text-test/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--pinecone-text-test
  - name: kkimdev--remove-header-footer-hardcodes
    path: auto_branch_pushes/kkimdev/remove-header-footer-hardcodes/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--remove-header-footer-hardcodes
  - name: yansfil--revert-revert-hs
    path: auto_branch_pushes/yansfil/revert-revert-hs/ppluto-main/overlays/dev_gcp/
    namespace: yansfil--revert-revert-hs
  - name: kkimdev--en-news-revert4
    path: auto_branch_pushes/kkimdev/en-news-revert4/ppluto-main/overlays/dev_gcp/
    namespace: kkimdev--en-news-revert4
  - name: banggre--graph-search-test-code
    path: auto_branch_pushes/banggre/graph-search-test-code/ppluto-main/overlays/dev_gcp/
    namespace: banggre--graph-search-test-code
  - name: yansfil--prompt-v1
    path: auto_branch_pushes/yansfil/prompt-v1/ppluto-main/overlays/dev_gcp/
    namespace: yansfil--prompt-v1
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev_gcp/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_gcp/
    namespace: main----production
