spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: banggre--update-search
    path: auto_branch_pushes/banggre/update-search/ppluto-main/overlays/dev/
    namespace: banggre--update-search
  - name: banggre--update-search-vector
    path: auto_branch_pushes/banggre/update-search-vector/ppluto-main/overlays/dev/
    namespace: banggre--update-search-vector
  - name: sungbin--admin-custom
    path: auto_branch_pushes/sungbin/admin-custom/ppluto-main/overlays/dev/
    namespace: sungbin--admin-custom
  - name: renovate--npm-vite-vulnerability
    path: auto_branch_pushes/renovate/npm-vite-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-vite-vulnerability
  - name: renovate--npm-zod-vulnerability
    path: auto_branch_pushes/renovate/npm-zod-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-zod-vulnerability
  - name: renovate--npm-nodemailer-vulnerability
    path: auto_branch_pushes/renovate/npm-nodemailer-vulnerability/ppluto-main/overlays/dev/
    namespace: renovate--npm-nodemailer-vulnerability
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
