spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: mk--update-pipeline-batch-endpoint
    path: auto_branch_pushes/mk/update-pipeline-batch-endpoint/ppluto-main/overlays/dev/
    namespace: mk--update-pipeline-batch-endpoint
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main----production
    path: auto_branch_pushes/main/ppluto-main/overlays/prod/
    namespace: main----production
