spec:
  destination:
    server: https://kubernetes.default.svc
  source:
    repoURL: https://github.com/ppluto-dev/argocd-test.git
    targetRevision: HEAD
  applications:
  - name: yansfil--fix-missing-edges
    path: auto_branch_pushes/yansfil/fix-missing-edges/ppluto-main/overlays/dev/
    namespace: yansfil--fix-missing-edges
  - name: luan--remove-replace
    path: auto_branch_pushes/luan/remove-replace/ppluto-main/overlays/dev/
    namespace: luan--remove-replace
  - name: main
    path: auto_branch_pushes/main/ppluto-main/overlays/dev/
    namespace: main
  - name: main---tickerbell
    path: auto_branch_pushes/main/ppluto-main/overlays/prod_monigpt/
    namespace: main---tickerbell
