kind: Rollout
apiVersion: argoproj.io/v1alpha1
metadata:
  name: ppluto-main
  labels:
    app.kubernetes.io/name: ppluto-main
spec:
  selector:
    matchLabels:
      app: ppluto-main
      app.kubernetes.io/name: ppluto-main
  replicas: 1
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        app: ppluto-main
        app.kubernetes.io/name: ppluto-main
    spec:
      topologySpreadConstraints:
        - maxSkew: 2
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app: ppluto-main
          matchLabelKeys:
            - pod-template-hash
      terminationGracePeriodSeconds: 900 # 15min https://jenakim47.tistory.com/80

      containers:
        - name: ppluto-main--prod-server
          image: registry.gitlab.com/ppluto-dev/ppluto-main/prod-server:1246b13a5e489c542b01a3dfd411caf7d5c17733c1566562cd7d3cd7104245aa
          env:
            - name: PPLUTO_SERVER_ARG_SERVER
              value: api-server
          ports:
            - containerPort: 81
            - containerPort: 82
            - containerPort: 83
            - containerPort: 84
            - name: metrics
              containerPort: 9464
          readinessProbe:
            # TODO: Implement gRPC health check instead. https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#probe-check-methods
            tcpSocket:
              port: 82
          # TODO: Enable `livenessProbe`.  Temporarily disabled to debug container crash issue.
          # livenessProbe:
          #   tcpSocket:
          #     port: 82
          resources:
            requests:
              cpu: 0.5
              memory: 2Gi
            limits:
              cpu: 2
              memory: 4Gi
              ephemeral-storage: 8Gi
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 1800"]
        - name: ppluto-main--prod-client-tickerbell
          image: registry.gitlab.com/ppluto-dev/ppluto-main/prod-client-tickerbell:e0d5ef92d60a52b41ffd5013cfbae4019f8ddfc14bcc13845622afe10a807551
          ports:
            - containerPort: 5095
          readinessProbe:
            httpGet:
              port: 5095
              path: /
          livenessProbe:
            httpGet:
              port: 5095
              path: /
          resources:
            requests:
              cpu: 0.5
              memory: 256Mi
            limits:
              cpu: 2
              memory: 512Mi
              ephemeral-storage: 1Gi
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 1800"]
        - name: ppluto-main--prod-client
          image: registry.gitlab.com/ppluto-dev/ppluto-main/prod-client:534e1b20d033825d4fd953a432da2273f5082e383ebd90c43cdfe4ef3321b596
          ports:
            - containerPort: 5280
            - containerPort: 5380
            - containerPort: 5480
          resources:
            requests:
              cpu: 40m
              memory: 16Mi
            limits:
              cpu: 200m
              memory: 32Mi
              ephemeral-storage: 1Gi
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 1800"]

      imagePullSecrets:
        - name: gitlab-container-registry
  strategy:
    blueGreen:
      activeService: ppluto-main-service-active
      previewService: ppluto-main-service-preview
      autoPromotionEnabled: true

---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: ppluto-main-pdb
spec:
  maxUnavailable: 1
  selector:
    matchLabels:
      app: ppluto-main
